## Series

- Series are similar to numpy array
- Series are built on top of numpy array
- Difference is that a series can be accessed by label

In [1]:
import numpy as np 
import pandas as pd

### Creating series from different Python objects

In [2]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Grabbing data from a Series

In [7]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Singapore', 'India', 'China'])

In [8]:
ser1

USA          1
Singapore    2
India        3
China        4
dtype: int64

In [10]:
ser1['USA']

1

In [11]:
ser1+ser1

USA          2
Singapore    4
India        6
China        8
dtype: int64